<div class="container">
  <h1><%= @episode.title %></h1>
  <p><%= @episode.summary %></p>
  <div class="card-product-actions">
    <%= link_to "Back", episodes_path, class: 'btn btn-primary' %>
    <%= link_to "Add a Character", new_episode_character_pathß(@episode), class: 'btn btn-primary' %>
    <button id="sweet-alert-demo" class="btn btn-primary">Delete Episode</button>
    <%= link_to "", episode_path(@episode), method: :delete, class: 'hidden', id: "delete-link"%>
  </div>
</div>
